<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485795396235-tf4r6r3g62ueefq87segeubu4rfsntt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485795396235-tf4r6r3g62ueefq87segeubu4rfsntt3</string>
	<key>API_KEY</key>
	<string>AIzaSyAKD8wZQiiuI9lsW7Dy9gS0GRDOU9U0EgM</string>
	<key>GCM_SENDER_ID</key>
	<string>485795396235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insta</string>
	<key>PROJECT_ID</key>
	<string>insta-fe761</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-fe761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485795396235:ios:b3ef0af754d30b6be7f28e</string>
</dict>
</plist>